[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
	branch = pluto
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:MortenSorensenNOR/buildroot.git
	branch = pluto-python
[submodule "linux"]
	path = linux
	url = git@github.com:MortenSorensenNOR/linux.git
	branch = pluto-custom
[submodule "hdl"]
	path = hdl
	url = git@github.com:MortenSorensenNOR/hdl.git
	branch = pluto-custom
